
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 200;
    --background-end: #1f2937;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: var(--background-end);
}
